configuration {
	modi: "window,ssh,drun,run";
	show-icons: true;
	icon-theme: "Papirus-Dark";
	drun-display-format: " {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
}
@theme "onedark"
